div.floating-frame
{
    display: none;
    position: sticky;
    left: 0px;
    top: 10px;

}

div.codebox:hover > copy-button > div.floating-frame
{
    display: block;
    
}

div.copy-button
{
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 10px;
    height: 21px;
    width: 21px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FAFAFA50;
    user-select: none;
    content: url("/practical_arm_assembly/assets/images/icons/icon_copy_001_mix_001.svg");
    
}

div.copy-button:hover
{
    background-color: #FAFAFAC0;

}

div.copy-button:active
{
    background-color: #FAFAFA50;

}