/*CSS Reset*/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

/*Font Families*/
@font-face 
{
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Elements*/
html
{
    height: 100%;

}

body
{
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;    
    background-size: cover;

}

header
{
    height: 14vh;
    background-color: #18181B;
    box-shadow: 0px 1px 3px;

}

h1
{
    font-family: robotoregular;
    font-size: xx-large;
    font-weight: 400;

}

h2
{
    font-family: robotoregular;
    font-size: x-large;
    font-weight: 300;

}

p
{
    font-family: robotoregular;
    font-weight: lighter;

}

/*Classes*/
p.content-section
{
    padding: 10px; 
    margin-left: 10px;

}

table.menu-container
{
    width: 50%; 
    margin: auto; 
    height: 5vh; 
    margin-top: 15px;
    table-layout: fixed;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 2px #00000080;
    border-collapse: collapse;

}

table.menu-container td
{
    border-collapse: collapse;
    border: 1.5px solid #0F172A;

}

div.menu-item
{
    cursor: pointer;
    height: 100%;
    background-color: #334155;

}

div.menu-item p
{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FAFAFA;

}

div.menu-item:hover
{
    background-color: #475569;

}

table.submenu-container
{
    width: 50%; 
    margin: auto; 
    table-layout: fixed;
    border-radius: 3px;
    border-collapse: collapse;
    position: absolute;
    transform: translateX(50%);
    z-index: 1;

}

div.submenu
{
    height: 100%;
    width: 100%;
    background-color: #334155;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    box-shadow: 0px 1px 2px #00000080;
    max-height: 25vh;

}

div.submenu-item
{
    background-color: #334155;
    border: 1px solid #0F172A;
    cursor: pointer;
}

div.submenu-item:hover
{
    background-color: #475569;

}

div.submenu-item p
{
    margin: auto;
    padding: 15px;
    position: relative;
    text-align: center;
    color: #FAFAFA;

}

div.scroll-container
{
    width: 50%;
    max-height: 750px;    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    
}

div.content-container
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 35px;
    border-radius: 3px;
    background-color: #e4e4e780;
    box-shadow: 0px 1px 2px #00000080;

}

.vertical-center 
{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


  

