/** CSS Reset **/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

/** Font Families **/
@font-face 
{
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/****************************** General ******************************/
html
{
    height: 100%;
    overflow-y: hidden;

}

body
{
    background-color: #FAFAFA;

}

main
{
    height: calc(100vh - 100px);
    overflow-y: auto;

}

h1
{
    font-family: robotoregular;
    font-size: xx-large;
    font-weight: 400;

}

h2
{
    font-family: robotoregular;
    font-size: 24pt;
    font-weight: 300;
    background-color: #E4E4E7;
    text-indent: 10px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

}

h3
{
    font-family: robotoregular;
    font-size: 16pt;

}

p
{
    font-family: robotoregular;
    font-weight: lighter;
    line-height: 1.5;

}

li
{
    font-family: robotoregular;
    font-weight: lighter;
    line-height: 1.5;

}


/****************************** Header ******************************/
header.page-header
{
    height: 100px;
    width: 100%;
    background-color: #262626;
    position: relative;
    color: #FAFAFA;
    text-align: left;
    overflow: hidden;

}

header.page-header div.left img
{
    margin: 20px;

}

header.page-header div.left
{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    float: left;

}

header.page-header div.right
{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
    float: right;

}

header.page-header div.right form input[type="text"]
{
    background-color: #FAFAFA;
    margin: 20px;
    height: 20px;
    width: 400px;
    border-radius: 5px;
    padding: 12px;

}

header.page-header div.left h1
{
    font-size: 32pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    align-content: center;

}

/****************************** Menu Containers ******************************/
div.menu-container
{
    height: calc(100vh - 100px);
    width: 20vh;
    min-width: 180px;
    background-color: #262626;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C0C0C0 #181818;
    float: left;

}

div.menu-item
{
    cursor: pointer;
    height: 4vh;

}

div.menu-item:hover
{
    background-color: #3F3F46;

}

div.menu-item p
{
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FAFAFA;

}

div.submenu-item
{
    margin: 0;
    display: block;
    cursor: pointer;
    height: 4vh;

}

div.submenu-item:hover
{
    background-color: #3F3F46;

}

div.submenu-item p
{
    margin-left: 45px;
    margin-right: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FAFAFA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.submenu-item-hidden
{
    display: none;

}


/****************************** Body Containers ******************************/
details.content-container
{
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;

}

details.content-container[open]
{
    padding-bottom: 32px;

}

details.content-container summary
{
    list-style-type: none;
    font-family: robotoregular;
    font-size: 24pt;
    font-weight: 300;
    background-color: #E4E4E7;
    text-indent: 10px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    border-radius: 5px;
    cursor: pointer;

}

details.content-container summary::-webkit-details-marker 
{
    display: none;

}

details.content-container summary::before
{
    content: '\25B8';
    display: inline-flex;
    margin-right: 10px;
    width: 30px;

}

details.content-container[open] summary::before
{
    content: '\25BE';
    display: inline-flex;
    padding-right: 10px;
    width: 20px;

}

details.content-container p
{
    padding: 10px; 
    margin-left: 10px;
    text-wrap: pretty;


}

details.content-container ul
{
    margin-top: 5px;
    margin-left: 60px;

}

details.content-container li
{
    text-wrap: pretty;
    margin-bottom: 20px;

}

details.content-container h3
{
    margin-left: 16px;

}

div.illustration
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;

}

div.illustration h3
{
    margin-left: 10px; 
    margin-bottom: 10px;

}

div.codebox
{
    position: relative;
    background-color: #27272A;
    border: 1px solid #18181B;
    border-radius: 3px;
    overflow-x: scroll;

}

div.codebox p
{
    font-family: 'Courier New', Courier, monospace;
    color: #FAFAFA;
    padding: 15px;
    text-wrap: nowrap;

}

div.codebox span.comment
{
    font-family: 'Courier New', Courier, monospace;
    color: #4CAF50;
    padding: 15px;
    padding-right: 75px;

}

div.codebox a
{
    color: #FAFAFA;

}

table.content-table
{
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-wrap: pretty;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;

}

table.content-table th
{
    font-family: robotoregular;
    font-weight: lighter;
    line-height: 1.5;
    text-align: center;
    padding: 15px; 
    border: 1.5px solid #18181B;
    background-color: #E4E4E7;

}

table.content-table td
{
    font-family: robotoregular;
    font-weight: lighter;
    line-height: 1.5;
    padding: 15px; 
    margin-left: 10px;
    border: 1.5px solid #18181B;

}

hr.page-end
{
    background-color: gray;
    height: 1px;
    margin-top: 32px;
    
}

/****************************** Buttons ******************************/
div.floating-button
{
    position: sticky;
    left: 0px;
    top: 10px;

}

button.copy
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    padding: 5px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    background-color: #FAFAFA50;
    
}

button.copy:hover
{
    background-color: #FAFAFAC0;

}

nav-button
{
    margin: 20px;
    padding: 0px 20px;
    width: 190px;
    color: #E4E4E7;
    background-color: #262626;
    border-radius: 5px;
    font-family: robotoregular;
    font-weight: lighter;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

nav-button.right
{
    float: right;

}

nav-button.left
{
    float: left;

}
